@import "tailwindcss";

:root {
  --background: #313131;
  --foreground: #b7b7b7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #b7b7b7;
  }
}

html {
  transition: background-color 0.6s ease, color 0.6s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.6s ease, color 0.6s ease;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  transform: translateY(-1px);
}
button:active {
  transform: translateY(0);
}
